{{define "footer"}}
  <footer>
    <p>
      Если у вас возникли затруднения в работе с сайтом или появились иные вопросы к администрации, напишите нам на почту support@sibsiu.ru
    </p>
  </footer>
{{end}}


